@model MemberModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="AvatarId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AvatarId" />
                            <span asp-validation-for="AvatarId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="CoveId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="CoveId" />
                            <span asp-validation-for="CoveId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Email" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="GenderId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="GenderId" asp-items="Model.AvailableGenders" />
                            <span asp-validation-for="GenderId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Birthday" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Birthday" />
                            <span asp-validation-for="Birthday"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Fields" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="Fields" asp-items="Model.AvailablFields" asp-multiple="true" />
                            <span asp-validation-for="Fields"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="ProvinceId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="ProvinceId" asp-items="Model.AvailableProvinces" />
                            <span asp-validation-for="ProvinceId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="StatusId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="StatusId" asp-items="Model.AvailableStatus" />
                            <span asp-validation-for="StatusId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="PhoneSet" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="PhoneSet" />
                            <span asp-validation-for="PhoneSet"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>