@model FieldModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.Field.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Fields");
}

<form asp-controller="Field" asp-action="CreateField" method="post" id="Field-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Field.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="ListField">@T("Admin.Catalog.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>